<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@100;300&family=Ysabeau+Office&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section>
        <header>
            <form action="/city" method="post">
                <input type="text" id="searchCity" name="searchCity" placeholder="<%= htmlData.error ? 'city not found' : 'search for city' %>" class="<%= htmlData.error ? 'redBorder' : '' %>">
                <button id="searchForCity" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </header>
        <main>
            <section id="todayInfo">
                <div id="todayDetails">
                    <div id="degree">
                        <h2><%= htmlData.city %></h2>
                        <h2 id="temp"><%= htmlData.temp %><sup>&#176;</sup>c</h2>
                        <p><%= htmlData.mainDesc %></p>
                        <p class="description"><%= htmlData.desc %></p>
                        <p class="description">humidity: <%= htmlData.humidity %></h2>
                    </div>
                    <div id="icon">
                        <img src="<%= htmlData.icon %>">
                    </div>
                </div>
                <div id="wholeDay">
                    <h4>FORECAST</h4>
                        <div id="hours">
                            <% for(let i =0; i<3 ; i++) { %>
                                <div>
                                    <% for(let j=i*2;j<i*2+2;j++) { %>
                                        <div>
                                            <p> <%= htmlData.forecastToday[j][0] %></p>
                                            <div class="icon"><img src=" <%= htmlData.forecastToday[j][1] %> " alt=""></div>
                                            <p class="degree"> <%= htmlData.forecastToday[j][2] %></p>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                </div>
            </section>
            <section id="weekInfo">
                <div>5-DAY FORECAST</div>
                <div id="daysMain">
                    <% for(let i =0; i < htmlData.fiveDayForecast.length; i++) { %>
                        <div class="days">
                            <p class="day_name"><%= htmlData.fiveDayForecast[i][0] %></p>
                            <img class="day-icon" src="<%= htmlData.fiveDayForecast[i][1] %>"></img>
                            <p class="day-degree"><%= htmlData.fiveDayForecast[i][2] %></p>
                        </div>
                        <% if(i == 0 || i == 1 ) { %>
                            <hr>
                        <% } %>
                    <% } %>
                </div>
            </section>
        </main>
    </section>
</body>
</html>


  
